/* 	
	=========================
	|						|
	| 	Breadcrumb Styling	|
	|						|
	=========================
*/


/* --- Breadcrumb --- */

.breadcrumb {
	line-height: 1;
	display: inline-block;
	margin: 0em 0em;
	vertical-align: middle;
}

.breadcrumb:first-child {
	margin-top: 0em;
}

.breadcrumb:last-child {
	margin-bottom: 0em;
}

/* --- Content --- */

/* -- Divider -- */

.breadcrumb .divider {
	display: inline-block;
	opacity: 0.7;
	margin: 0em 0.21428571rem 0em;
	font-size: 0.92857143em;
	color: rgba(0,0,0,0.4);
	vertical-align: baseline;
}

/* -- Link -- */

.breadcrumb a {
	color: #4183c4;
}

.breadcrumb a:hover {
	color: #1e70bf;
}

/* -- Icon Divider -- */

.breadcrumb .icon.divider {
	font-size: 0.85714286em;
	vertical-align: baseline;
}

/* -- Section -- */

.breadcrumb a.section {
	cursor: pointer;
}

.breadcrumb .section {
	display: inline-block;
	margin: 0em;
	padding: 0em;
}

/* -- Loose Coupling -- */

.breadcrumb .segment {
	display: inline-block;
	padding: 0.78571429em 1em;
}

/* -- States -- */

.breadcrumb .active.section {
	font-weight: bold;
}

/* -- Veriations -- */

.mini.breadcrumb {
	font-size: 0.78571429rem;
}

.tiny.breadcrumb {
	font-size: 0.85714286rem;
}

.small.breadcrumb {
	font-size: 0.92857143rem;
}

.breadcrumb {
	font-size: 1rem;
}

.large.breadcrumb {
	font-size: 1.14285714rem;
}

.big.breadcrumb {
	font-size: 1.28571429rem;
}

.huge.breadcrumb {
	font-size: 1.42857143rem;
}

.massive.breadcrumb {
	font-size: 1.71428571rem;
}