/*
	=========================
	|						|
	| 	Checkbox Styling	|
	|						|
	=========================
*/

.checkbox {
	position: relative;
	display: inline-block;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	outline: none;
	vertical-align: baseline;
	font-style: normal;
	min-height: 17px;
	font-size: 1rem;
	line-height: 17px;
	min-width: 17px;
}

.checkbox input[type="checkbox"], .checkbox input[type="radio"] {
	cursor: pointer;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0 !important;
	outline: none;
	z-index: 3;
	width: 17px;
	height: 17px;
}

/* --- Box Label --- */

.checkbox label {
	cursor: auto;
	position: relative;
	display: block;
	padding-left: 1.85714em;
	outline: none;
	font-size: 1em;
}

.checkbox label:before {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 17px;
	height: 17px;
	content: '';
	background: #ffffff;
	border-radius: 0.21428571rem;
	-webkit-transition: border 0.1s ease, opacity 0.1s ease, -webkit-transform 0.1s ease, -webkit-box-shadow 0.1s ease;
	transition: border 0.1s ease, opacity 0.1s ease, -webkit-transform 0.1s ease, -webkit-box-shadow 0.1s ease;
	transition: border 0.1s ease, opacity 0.1s ease, transform 0.1s ease, box-shadow 0.1s ease;
	transition: border 0.1s ease, opacity 0.1s ease, transform 0.1s ease, box-shadow 0.1s ease, -webkit-transform 0.1s ease, -webkit-box-shadow 0.1s ease;
	border: 1px solid #d4d4d5;
}


/* --- Checkmark --- */

.checkbox label:after {
	position: absolute;
	font-size: 14px;
	top: 2px;
	left: 1px;
	width: 17px;
	height: 17px;
	text-align: center;
	opacity: 0;
	color: rgba(0,0,0,0.87);
	-webkit-transition: border 0.1s ease, opacity 0.1s ease, -webkit-transform 0.1s ease, -webkit-box-shadow 0.1s ease;
	transition: border 0.1s ease, opacity 0.1s ease, -webkit-transform 0.1s ease, -webkit-box-shadow 0.1s ease;
	transition: border 0.1s ease, opacity 0.1s ease, transform 0.1s ease, box-shadow 0.1s ease;
	transition: border 0.1s ease, opacity 0.1s ease, transform 0.1s ease, box-shadow 0.1s ease, -webkit-transform 0.1s ease, -webkit-box-shadow 0.1s ease;
}

/* --- Box --- */

.checkbox label, .checkbox + label {
	color: rgba(0,0,0,0.87);
	-webkit-transition: color 0.1s ease;
	transition: color 0.1s ease;
}

.checkbox + label {
	vertical-align: middle;
}


/* --- States --- */

/* -- Hover -- */

.checkbox label:hover::before {
	background: #ffffff;
	border-color: rgba(34, 36, 38, 0.35);
}

.checkbox label:hover, .checkbox + label:hover {
	color: rgba(0,0,0,0.8);
}

/* -- Down -- */

.checkbox label:active::before {
	background: #f9fafb;
	border-color: rgba(34, 36, 38, 0.35);
}

.checkbox label:active::after {
	color: rgba(0,0,0,0.95);
}

.checkbox input:active ~ label {
	color: rgba(0,0,0,0.95);
}

/* -- Focus -- */

.checkbox input:focus ~ label:before {
	background: #ffffff;
	border-color: #96c8da;
}

.checkbox input:focus ~ label:after {
	color: rgba(0,0,0,0.95);
}

.checkbox input:focus ~ label {
	color: rgba(0,0,0,0.95);
}

/* -- Active -- */

.checkbox input:checked ~ label:before {
	background: #ffffff;
	border-color: rgba(34, 36, 38, 0.35);
}

.checkbox input:checked ~ label:after {
	opacity: 1;
	color: rgba(0,0,0,0.95);
}

/* -- Indeterminate -- */

.checkbox input:not([type=radio]):inderterminate ~ label:before {
	background: #ffffff;
	border-color: rgba(34, 36, 38, 0.35);
}

.checkbox input:not([type=radio]):inderterminate ~ label:after {
	background: #ffffff;
	border-color: rgba(0,0,0,0.95);
}

/* -- Active Focus -- */

.checkbox input:not([type=radio]):inderterminate:focus ~ label:before, .checkbox input:checked:focus ~ label:before {
	background: #ffffff;
	border-color: #96c8da;
}

.checkbox input:not([type=radio]):inderterminate:focus ~ label:after, .checkbox input:checked:focus ~ label:after {
	color: rgba(0,0,0,0.95);
}

/* -- Disabled -- */

.disabled.checkbox label, .checkbox input[disabled] ~ label {
	cursor: default !important;
	opacity: 0.5;
	color: #000000;
}


/* --- Types --- */

/* -- Radio -- */

.radio.checkbox {
	min-height: 15px;
}

.radio.checkbox label {
	padding-left: 1.85714em;
}

.radio.checkbox label:before {
	content: '';
	-webkit-transform: none;
	transform: none;
	width: 15px;
	height: 15px;
	border-radius: 500rem;
	top: 1px;
	left: 0px;
}

.radio.checkbox label:after {
	border: none;
	content: '' !important;
	width: 15px;
	height: 15px;
	border-radius: 500rem;
	-webkit-transform: scale(0.46666667);
	transform: scale(0.46666667);
	background-color: rgba(0,0,0,0.87);
}

/* - Focus - */

.radio.checkbox input:focus ~ label:before {
	background-color: #ffffff;
}

.radio.checkbox input:focus ~ label:after {
	background-color: rgba(0,0,0,0.95);
}

/* - Indeterminate - */

.radio.checkbox input:indeterminate ~ label:after {
	opacity: 0
}

/* - Active - */

.radio.checkbox input:chacked ~ label:before {
	background-color: #ffffff;
}

.radio.checkbox input:checked ~ label:after {
	top: 2px;
	left: 1px;
	background-color: rgba(0,0,0,0.95);
}

/* - Active Focus - */

.radio.checkbox input:focus:checked ~ label:before {
	background-color: #ffffff;
}

.radio.checkbox input:focus:checked ~ label:after {
	background-color: rgba(0,0,0,0.95);
}

/* -- Slider -- */

.slider.checkbox {
	min-height: 1.25rem;
}

.slider.checkbox input {
	width: 3.5rem;
	height: 1.25rem;
}

.slider.checkbox label {
	padding-left: 4.5rem;
	line-height: 1rem;
	color: rgba(0,0,0,0.4);
}

/* slider Line */

.slider.checkbox label:before {
	display: block;
	position: absolute;
	content: '';
	border: none !important;
	left: 0em;
	z-index: 1;
	top: 0.4rem;
	background-color: rgba(0,0,0,0.05);
	width: 3.5rem;
	height: 0.21428571rem;
	-webkit-transform: none;
	transform: none;
	border-radius: 500rem;
	-webkit-transition: background 0.3s ease;
	transition: background 0.3s ease;
}

/* slider Handle */

.slider.checkbox label:after {
	background: #ffffff -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0,0,0,0.05)));
	background: #ffffff -webkit-linear-gradient(transparent, rgba(0,0,0,0.05));
	background: #ffffff linear-gradient(transparent, rgba(0,0,0,0.05));
	position: absolute;
	content: '' !important;
	opacity: 1;
	z-index: 2;
	border: none;
	-webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
	box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
	width: 1.5rem;
	height: 1.5rem;
	top: -0.25rem;
	left: 0em;
	-webkit-transform: none;
	transform: none;
	border-radius: 500rem;
	-webkit-transition: left 0.3s ease;
	transition: left 0.3s ease;
}

/* - Hover - */

.slider.checkbox label:hover {
	color: rgba(0,0,0,0.8);
}

.slider.checkbox label:hover::before {
	background: rgba(0,0,0,0.15);
}

/* - Active - */

.slider.checkbox input:checked ~ label {
	color: rgba(0,0,0,0.95) !important;
}

.slider.checkbox input:checked ~ label:before {
	background-color: #545454 !important;
}

.slider.checkbox input:checked ~ label:after {
	left: 2rem;
}

/* - Active Focus - */

.slider.checkbox input:focus:checked ~label {
	color: rgba(0,0,0,0.95) !important;
}

.slider.checkbox input:focus:checked ~ label:before {
	background-color: #000000 !important;
}

/* -- Toggle -- */

.toggle.checkbox {
	min-height: 1.5rem;
}

.toggle.checkbox input {
	width: 3.5rem;
	height: 1.5rem;
}

.toggle.checkbox label {
	min-height: 1.5rem;
	padding-left: 4.5rem;
	color: rgba(0,0,0,0.87);
}

.toggle.checkbox label {
	padding-top: 0.15em;
}

/* - Switch - */

.toggle.checkbox label:before {
	display: block;
	position: absolute;
	content: '';
	z-index: 1;
	-webkit-transform: none;
	transform: none;
	border: none;
	top: 0rem;
	background: rgba(0,0,0,0.05);
	-webkit-box-shadow: none;
	box-shadow: none;
	width: 3.5rem;
	height: 1.5rem;
	border-radius: 500rem;
}

/* - Handle - */

.toggle.checkbox label:after {
	background: #ffffff -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0,0,0,0.05)));
	background: #ffffff -webkit-linear-gradient(transparent, rgba(0,0,0,0.05));
	background: #ffffff linear-gradient(transparent, rgba(0,0,0,0.05));
	position: absolute;
	content: '' !important;
	opacity: 1;
	z-index: 2;
	border: none;
	-webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
	box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
	width: 1.5rem !important;
	height: 1.5rem !important;
	top: 0rem;
	left: 0rem;
	border-radius: 500rem;
	-webkit-transition: background 0.3s ease, left 0.3s ease;
	transition: background 0.3s ease, left 0.3s ease;
}

.toggle.checkbox input ~ label:after {
	left: -0.05rem;
	-webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
	box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
}

/* Focus */

.toggle.checkbox input:focus ~ label:before {
	background-color: rgba(0,0,0,0.15);
	border: none;
}

/* Hover */

.toggle.checkbox label:hover::before {
	background-color: rgba(0,0,0,0.15);
	border: none;
}

/* Active */

.toggle.checkbox input:checked ~ label {
	color: rgba(0,0,0,0.95);
}

.toggle.checkbox input:checked ~ label:before {
	background-color: #2185d0 !important;
}

.toggle.checkbox input:checked ~ label:after {
	left: 2.15rem;
	-webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
	box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
}

/* Active Focus */

.toggle.checkbox input:focus:checked ~ label {
	color: rgba(0,0,0,0.95) !important;
}

.toggle.checkbox input:focus:checked ~ label:before {
	background-color: #0d71bb !important;
}


/*.checkbox label:after {
	font-family: 'Checkbox';
}
*/
.checkbox input:checked ~ label:after {
	font-family: "Font Awesome 5 Free";
	content: '\f00c';
	display: inline-block;
	vertical-align: middle;
	font-weight: 900;
}
